# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class
out

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/out/
/out/artifacts/Star_Wars_Word_Generator_war_exploded/WEB-INF/
/out/artifacts/Star_Wars_Word_Generator_war_exploded/WEB-INF/web.xml
/out/artifacts/
/out/artifacts/Star_Wars_Word_Generator_war_exploded/META-INF/
/out/artifacts/Star_Wars_Word_Generator_war_exploded/WEB-INF/lib/
/out/artifacts/Star_Wars_Word_Generator_war_exploded/
/out/artifacts/Star_Wars_Word_Generator_war_exploded/WEB-INF/classes/
/out/artifacts/Star_Wars_Word_Generator_war_exploded/WEB-INF/data.txt
/out/artifacts/Star_Wars_Word_Generator_war_exploded/index.jsp
